# Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SMTP_USER=ahmedemad.v0@gmail.com
SMTP_PASS="sasg jldj suda vgzg"

# JWT Secret (change this in production!)
JWT_SECRET=architect-portfolio-jwt-secret-change-in-production-2024

# Next.js
NEXT_PUBLIC_SITE_NAME=Ahmed Emad Photography
# cloudinary
CLOUDINARY_CLOUD_NAME=dat7lfkbp
CLOUDINARY_API_KEY=861171573571122
CLOUDINARY_API_SECRET=PjYHRJanByFt1UcTe00e5uke5T4
REDIS_URL="redis://default:cL16LM5mn1VRin5nqwafVMTxAFbMijZL@redis-19854.crce220.us-east-1-4.ec2.cloud.redislabs.com:19854"